<br />
<h1>Blog...</h1>
<table border="1">


<% @posts.each do |post| %>
<br /><br />
<strong>Date:</strong> <%=h post.date %><br>
<strong>Title:</strong> <%=h post.name %><br>
<%= post.body %>
<% end %>
</table>

<br />
